<!-- core.js:6354 ERROR Error: No provider for ChangeDetectorRef!
    at Module.ɵɵinjectPipeChangeDetectorRef (core.js:38723)
    at AsyncPipe_Factory (common.js:6777)
    at Module.ɵɵpipe (core.js:36808)
    at AppComponent_Template (app.component.html:1)
    at executeTemplate (core.js:13942)
    at renderView (core.js:13744)
    at renderComponent (core.js:15179)
    at renderChildComponents (core.js:13546)
    at renderView (core.js:13770)
    at ComponentFactory$1.create (core.js:34242) -->
<span>{test$ | async, select, success {Success} fail {Failure}}</span>



<!-- This one works with the one above commented out -->
<span>{test, select, success {Success} fail {Failure}}</span>


<router-outlet></router-outlet>
